<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yy_chongzhi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{247,86}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{247,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,857},{247,86}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{247,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{261,86}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{261,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{275,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{275,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{289,86}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{289,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{275,86}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{275,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{291,88}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,297},{291,88}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{293,88}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{311,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{311,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,315},{271,88}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{271,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{269,88}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{269,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{269,88}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{269,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,588},{267,88}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{267,88}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{251,86}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{251,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
            <key>yy_chongzhi_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{247,86}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{247,86}}</string>
                <key>sourceSize</key>
                <string>{311,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>v68_yy_chongzhi.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac36f4a14d12184fb205a4fffebb2031$</string>
            <key>textureFileName</key>
            <string>v68_yy_chongzhi.png</string>
        </dict>
    </dict>
</plist>
