<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blink_horizontal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,322},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,210},{330,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{330,204}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{360,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,220}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,220}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,616},{318,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{318,202}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{334,206}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{334,206}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{330,204}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{330,204}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{324,200}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{324,200}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,162},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,482},{262,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{262,152}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,162},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,322},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,482},{262,152}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,33},{262,152}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,322},{264,158}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,30},{264,158}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,828},{286,182}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{286,182}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,636},{298,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,15},{298,190}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,820},{308,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{308,196}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>blink_horizontal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,416},{322,198}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{322,198}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Images26.png</string>
            <key>size</key>
            <string>{966,1025}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d1b0fe803c3b5058b21083191e23f97:a8b56aadea6d0307e8883895702ccc77:6173d9cec207002df8749a76349c73c4$</string>
            <key>textureFileName</key>
            <string>Images26.png</string>
        </dict>
    </dict>
</plist>
