<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_kuang_small_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,267},{127,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,134}}</string>
                <key>sourceSize</key>
                <string>{127,134}</string>
            </dict>
            <key>ui_kuang_small_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,131},{127,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,134}}</string>
                <key>sourceSize</key>
                <string>{127,134}</string>
            </dict>
            <key>ui_kuang_small_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{127,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,134}}</string>
                <key>sourceSize</key>
                <string>{127,134}</string>
            </dict>
            <key>ui_kuang_small_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,2},{127,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,134}}</string>
                <key>sourceSize</key>
                <string>{127,134}</string>
            </dict>
            <key>ui_kuang_small_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{127,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,134}}</string>
                <key>sourceSize</key>
                <string>{127,134}</string>
            </dict>
            <key>ui_kuang_small_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{127,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,134}}</string>
                <key>sourceSize</key>
                <string>{127,134}</string>
            </dict>
            <key>ui_kuang_small_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{127,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,134}}</string>
                <key>sourceSize</key>
                <string>{127,134}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_kuang_small.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d17e74ee16fd7c0199f5418f0e9f6be$</string>
            <key>textureFileName</key>
            <string>ui_kuang_small.png</string>
        </dict>
    </dict>
</plist>
